<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSP_Control.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSP_Control.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <DSP_Control.My.MySettings>
            <setting name="DSPPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AshitaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="mysql_host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="mysql_port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="mysql_login" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mysql_password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mysql_database" serializeAs="String">
                <value>dspdb</value>
            </setting>
            <setting name="ENABLE_COP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_TOAU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_WOTG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_ACP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_AMK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_ASA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_ABYSSEA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_SOA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timestamp_formatLogin" serializeAs="String">
                <value>[%d/%b %H:%M]</value>
            </setting>
            <setting name="stdout_with_ansisequenceLogin" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="console_silentLogin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="search_server_port" serializeAs="String">
                <value>54002</value>
            </setting>
            <setting name="servername" serializeAs="String">
                <value>DarkStar</value>
            </setting>
            <setting name="expire_auctions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="expire_days" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="expire_interval" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="RESTRICT_BY_EXPANSION" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timestamp_formatMap" serializeAs="String">
                <value>[%H:%M:%S]</value>
            </setting>
            <setting name="stdout_with_ansisequenceMap" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="console_silentMap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="buff_maxsize" serializeAs="String">
                <value>1750</value>
            </setting>
            <setting name="max_time_lastupdate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="lightluggage_block" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="vanadiel_time_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoP_Battle_cap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ENABLE_COP_ZONE_CAP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exp_rate" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="exp_loss_rate" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="exp_party_gap_penalties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exp_retain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exp_loss_level" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MAX_LEVEL" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="speed_mod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level_sync_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="all_jobs_widescan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="player_tp_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="player_hp_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="player_mp_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="player_stat_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="sj_mp_divisor" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="START_GIL" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="START_INVENTORY" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SUBJOB_QUEST_LEVEL" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ADVANCED_JOB_LEVEL" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UNLOCK_OUTPOST_WARPS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ALL_MAPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audit_chat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audit_say" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audit_shout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audit_tell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audit_yell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audit_linkshell" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audit_party" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mob_tp_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="mob_hp_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="nm_hp_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="mob_mp_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="nm_mp_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="mob_stat_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="nm_stat_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="drop_rate_multiplier" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="INITIAL_LEVEL_CAP" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OPENING_CUTSCENE_ENABLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fov_party_gap_penalties" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fov_allow_alliance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="REGIME_WAIT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FIELD_MANUALS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOW_LEVEL_REGIME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GROUNDS_TOMES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="skillup_chance_multiplier" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="craft_chance_multiplier" serializeAs="String">
                <value>2.6</value>
            </setting>
            <setting name="skillup_amount_multiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="craft_amount_multiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="craft_day_matters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="craft_moonphase_matters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="craft_direction_matters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="newstyle_skillups" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="FISHING_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="WOODWORKING_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="SMITHING_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="GOLDSMITHING_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="CLOTHCRAFT_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="LEATHERCRAFT_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="BONECRAFT_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="ALCHEMY_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="COOKING_GUILD_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="DISABLE_GUILD_CONTRACTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HARVESTING_BREAK_CHANCE" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="EXCAVATION_BREAK_CHANCE" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="LOGGING_BREAK_CHANCE" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="MINING_BREAK_CHANCE" serializeAs="String">
                <value>0.33</value>
            </setting>
            <setting name="HARVESTING_RATE" serializeAs="String">
                <value>0.50</value>
            </setting>
            <setting name="EXCAVATION_RATE" serializeAs="String">
                <value>0.50</value>
            </setting>
            <setting name="LOGGING_RATE" serializeAs="String">
                <value>0.50</value>
            </setting>
            <setting name="MINING_RATE" serializeAs="String">
                <value>0.50</value>
            </setting>
            <setting name="msg_server_port" serializeAs="String">
                <value>54003</value>
            </setting>
            <setting name="all_mobs_gil_bonus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_gil_bonus" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="map_port" serializeAs="String">
                <value>54230</value>
            </setting>
            <setting name="Battle_cap_tweak" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_merit_points" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="yell_cooldown" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NORMAL_MOB_MAX_LEVEL_RANGE_MIN" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="NORMAL_MOB_MAX_LEVEL_RANGE_MAX" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="EXP_RATEFOV" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="TABS_RATE" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="USE_ADOULIN_WEAPON_SKILL_CHANGES" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOP_PRICE" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="GIL_RATE" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="HOMEPOINT_HEAL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RIVERNE_PORTERS" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="LANTERNS_STAY_LIT" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="TIMEZONE_OFFSET" serializeAs="String">
                <value>9.0</value>
            </setting>
            <setting name="ALLOW_MULTIPLE_EXP_RINGS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BYPASS_EXP_RING_ONE_PER_WEEK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NUMBER_OF_DM_EARRINGS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HOMEPOINT_TELEPORT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LandKingSystem_NQ" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LandKingSystem_HQ" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SAN_FAME" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="BAS_FAME" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="WIN_FAME" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="NORG_FAME" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="JEUNO_FAME" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="CURE_POWER" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="SPELL_POWER" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="BLUE_POWER" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="DRAIN_POWER" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="ITEM_POWER" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="WEAPON_SKILL_POWER" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="WEAPON_SKILL_POINTS" serializeAs="String">
                <value>1.000</value>
            </setting>
            <setting name="VISITANT_BONUS" serializeAs="String">
                <value>1.00</value>
            </setting>
            <setting name="COFFER_MAX_ILLUSION_TIME" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="COFFER_MIN_ILLUSION_TIME" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="CHEST_MAX_ILLUSION_TIME" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="CHEST_MIN_ILLUSION_TIME" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="BETWEEN_2DYNA_WAIT_TIME" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DYNA_LEVEL_MIN" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="TIMELESS_HOURGLASS_COST" serializeAs="String">
                <value>500000</value>
            </setting>
            <setting name="CURRENCY_EXCHANGE_RATE" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RELIC_2ND_UPGRADE_WAIT_TIME" serializeAs="String">
                <value>604800</value>
            </setting>
            <setting name="RELIC_3RD_UPGRADE_WAIT_TIME" serializeAs="String">
                <value>295200</value>
            </setting>
            <setting name="FREE_COP_DYNAMIS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WSNM_LEVEL" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="WSNM_SKILL_LEVEL" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="AF1_QUEST_LEVEL" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="AF2_QUEST_LEVEL" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AF3_QUEST_LEVEL" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AF1_FAME" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AF2_FAME" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="AF3_FAME" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DEBUG_MODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QM_RESET_TIME" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="OldSchoolG1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OldSchoolG2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrigiciteDuration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SCAVENGE_RATE" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="STATUS_RESIST_MULTIPLIER" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CIRCLE_DURATION" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CIRCLE_KILLER_EFFECT" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="KILLER_EFFECT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BETWEEN_2COSMOCLEANSE_WAIT_TIME" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DIMENSIONAL_PORTAL_UNLOCK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXPLORER_MOOGLE_LEVELCAP" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EXPLORER_MOOGLE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JINX_MODE_2005" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JINX_MODE_2008" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JINX_MODE_2012" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SUMMERFEST_2004" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SUNBREEZE_2009" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SUNBREEZE_2011" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CHRISTMAS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HALLOWEEN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HALLOWEEN_2005" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HALLOWEEN_YEAR_ROUND" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MILK_OVERWRITE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JUICE_OVERWRITE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DIA_OVERWRITE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BIO_OVERWRITE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BARELEMENT_OVERWRITE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BARSTATUS_OVERWRITE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BARD_SONG_LIMIT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BARD_INSTRUMENT_LIMIT" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ENHANCING_SONG_DURATION" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="STONESKIN_CAP" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="BLINK_SHADOWS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ENSPELL_DURATION" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="SPIKE_EFFECT_DURATION" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ELEMENTAL_DEBUFF_DURATION" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="STORM_DURATION" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="KLIMAFORM_MACC" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AQUAVEIL_INTERR_RATE" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ABSORB_SPELL_AMOUNT" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ABSORB_SPELL_TICK" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="SNEAK_INVIS_DURATION_MULTIPLIER" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="USE_OLD_CURE_FORMULA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="no_auction_limits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlueSpellGaplevelLearn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="mob_speed_mod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="POLPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DIG_ABUNDANCE_BONUS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DIG_FATIGUE" serializeAs="String">
                <value>True</value>
            </setting>
        </DSP_Control.My.MySettings>
    </userSettings>
    <applicationSettings>
        <DSP_Control.My.MySettings>
            <setting name="LoginExpansionControl" serializeAs="String">
                <value>2</value>
            </setting>
        </DSP_Control.My.MySettings>
    </applicationSettings>
</configuration>
